button {
  margin: 3px;
}

.debug-info {
  margin-top: 5px;
  font-weight: lighter;
  text-align: center;
}

.connectionTest, .result, .debug-info {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

